.ProfileCard {
    background-color:aquamarine;
    padding: 1em;
    align-items:flex-start;
    outline: 2px solid black;

    display: grid;
    gap: 10px;
    justify-items: center;
    align-items: center;
}

.item1 {
    grid-row: 1;
    grid-column: 1;
}

.item2 {
    grid-row: 1;
    grid-column: 2;
}

.item3 {
    grid-row: 1;
    grid-column: 3;
}